<mat-card class="h-100 py-2 px-2">
   
      <button mat-raised-button color="accent" class="mt20 mb20"  routerLink="/admin/">
        <mat-icon>home</mat-icon>
        Home
    </button>
      <button mat-raised-button color="accent" class="mb20" routerLink="/admin/profile">
        <mat-icon>account_circle</mat-icon>
        Profile
    </button>
      <button mat-raised-button color="accent" class="mb20" routerLink="/admin/viewcategories" >
        <mat-icon>list</mat-icon>
        Categories
    </button>
      <button mat-raised-button color="accent" class="mb20" routerLink="/admin/addcategory">
        <mat-icon>add_circle_outline</mat-icon>
        Add Categories
    </button>
    <button  mat-raised-button color="accent" class="mb20" routerLink="/admin/addquiz" >
      <mat-icon >add</mat-icon>
       Add Quizes
  </button>  
      <button  mat-raised-button color="accent" class="mb20" routerLink="/admin/quizes" >
        <mat-icon >quiz</mat-icon>
        Quizes
    </button>  
      <button  mat-raised-button color="accent" class="mb20"  routerLink="/login" >
        <mat-icon  >logout</mat-icon>
        Logout
    </button>  

  </mat-card>




  <!-- <button mat-raised-button color="accent" class="mt20" routerLink="/admin/">
    <mat-icon>home</mat-icon>
    Home
</button>
  <button mat-raised-button color="accent" class="mb20" routerLink="/admin/profile">
    <mat-icon>account_circle</mat-icon>
    Profile
</button>
  <button mat-raised-button color="accent" class="mb20">
    <mat-icon>list</mat-icon>
    Categories
</button>
  <button mat-raised-button color="accent" class="mb20">
    <mat-icon>add_circle_outline</mat-icon>
    Add Categories
</button>
  <button mat-raised-button color="accent" >
    <mat-icon>quiz</mat-icon>
    Quizes
</button> -->




<!-- <mat-card>
  <mat-action-list>
    <div mat-subheader>Menu</div>
    <button mat-list-item routerLink="/admin/">
      <mat-icon mat-list-icon>home</mat-icon>Home
    </button>
    <button mat-list-item routerLink="/admin/profile">
      <mat-icon mat-list-icon>account_circle</mat-icon>Profile
    </button>
    <button mat-list-item routerLink="/admin/profile">
      <mat-icon mat-list-icon>list</mat-icon><span>Categories</span>
    </button>
    <button mat-list-item routerLink="/admin/profile">
      <mat-icon mat-list-icon>add_circle_outline</mat-icon><span>Add Categories</span>
    </button>
    <button mat-list-item routerLink="/admin/profile">
      <mat-icon mat-list-icon>quiz</mat-icon><span>Quizes</span>
    </button>
 
  </mat-action-list>
</mat-card> -->