<div class="bootstrap-wrapper">
    <div class="container-fluid">
       <div class="row">
        <div class="col-md-2">
            <!-- Instructions -->
                    </div>
                    <div class="col-md-8" >
                       <ng-container *ngIf="questions">
                        <h1 class="mt20">{{questions[0].quiz.title}}</h1>
                       </ng-container>
                       <mat-card class="mb20" *ngFor="let q of questions, let i=index">
                        <mat-card-content>
                            <h3><strong>Q.{{i+1}}) {{q.content}}</strong></h3>
                           <mat-divider></mat-divider>
                           <br>
                            <div class="row mt10">
                    <div class="col-md-6">
                        <input type="radio" [(ngModel)]="q.givenAnswer" [ngModelOptions]="{standalone: true}"  [value]=q.option1 [name]="i.toString()">&nbsp;<i>{{q.option1}}</i>
                    </div>
                    <div class="col-md-6">
                        <input type="radio"  [(ngModel)]="q.givenAnswer" [ngModelOptions]="{standalone: true}"  [value]=q.option2 [name]="i.toString()">&nbsp;<i>{{q.option2}}</i>
                    </div>
                            </div>
                            <div class="row mt20">
                               <div class="col-md-6">
                                <input type="radio"  [(ngModel)]="q.givenAnswer" [ngModelOptions]="{standalone: true}" [value]=q.option3 [name]="i.toString()">&nbsp;<i>{{q.option3}}</i>
                               </div>
                               <div class="col-md-6">
                                <input type="radio"   [(ngModel)]="q.givenAnswer" [ngModelOptions]="{standalone: true}" [value]=q.option4 [name]="i.toString()">&nbsp;<i>{{q.option4}}</i>
                               </div>
                            </div>
                        </mat-card-content>
                    </mat-card>

                    <div class="container text-center mb20">
                        <button mat-raised-button  (click)="submitquiz()" color="primary">Submit</button>
                    </div>
                    </div>
                    <div class="col-md-2">
            <!-- progress -->
                    </div>
       </div>
    </div>
</div>